@CHARSET "UTF-8";

div#content {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #C5C9CC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 2px rgba(173, 176, 179, 0.8);
    padding: 30px 0;
    position: relative;
    z-index: 1;
    width: 900px;
    margin:100px auto;
}

h3.info-title {
	font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    color: #686868;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 0 40px;
}

.info-tip {
	font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    color: #686868;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    display:inline-block;
    padding-bottom:10px;
    
}

.error-tip {
    color: red;
    font-size: 14px;
    padding: 0 20px;
}

div.reg-content {
    padding: 0 40px;
}
div.form-item {
    margin-bottom: 20px;
    position: relative;
}

.skin-text-willwhite {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C9CACC #C9CACC #B1B3B5;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px #C9CACC;
    color: #666666;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    outline: medium none;
    overflow: hidden;
    padding: 9px 8px;
}


.cupid-green {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #7FBF4D;
    background-image: -moz-linear-gradient(center top , #7FBF4D, #63A62F);
    border-color: #63A62F #63A62F #5B992B;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 0 #96CA6D inset;
    color: #FFFFFF;
    font: bold 17px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    padding: 7px 6px 8px;
    text-align: center;
    text-shadow: 0 -1px 0 #4C9021;
    width: 150px;
}
.cupid-green:hover {
    background-color: #76B347;
    background-image: -moz-linear-gradient(center top , #76B347, #5E9E2E);
    box-shadow: 0 1px 0 0 #8DBF67 inset;
    cursor: pointer;
}
.cupid-green:active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #5B992B #5B992B #538C27;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 8px 4px #548C29 inset, 0 1px 0 0 #EEEEEE;
}